    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Open source project</h2>
                    <p>project name : IndoorGML Viewer</br>
                        description : </p>
                    <a href="https://github.com/STEMLab/IndoorGML-Viewer" class="btn btn-default btn-lg">Visit github</a>
                </div>
            </div>
        </div>
    </section>